div {
    &.partOne {
        height: 600px;
        padding: 50px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        div {
            &.rightSide {
                width: 50%;
                color: #394E6A;

                h2 {
                    font-size: 50px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 23px;
                    margin-bottom: 20px;
                }

                button {
                    width: 190px;
                    color: #DBE1FF;
                    background-color: #057AFF;
                    height: 50px;
                    font-size: 22px;
                    border-radius: 10px;
                    border: none;
                    margin-top: 10px;
                }
            }

            &.leftSide {
                padding-top: 20px;
                border-radius: 20px;
                background-color: #223349;
                width: 40%;
                height: 500px;

                img {
                    width: 90%;
                    height: 450px;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media(max-width:600px) {
    div.partOne {
        padding: 10px 20px !important;
    }

    div.partOne {
        flex-direction: column;
        height: 1050px;

        div.rightSide {
            width: 90%;
            margin-bottom: 30px;
        }

        div.feature {
            padding-top: 0px;
            margin-top: 50px;
            padding: 30px 40px;
        }

        div.leftSide {
            width: 97%;
            margin-bottom: 20px;

            img {
                margin-bottom: 30px;
            }
        }
    }

}

@media(min-width:604px) and (max-width:900px) {
    div.partOne {
        padding: 10px 20px !important;
    }

    div.partOne div.rightSide h2 {
        font-size: 50px;
    }

    div.partOne div.leftSide {
        padding-top: 25px;

    }

    div.partOne {
        flex-direction: column;
        height: 1050px;
        padding: 30px 50px;

        div.rightSide {
            width: 90%;


        }

        div.leftSide {
            width: 97%;
            margin-bottom: 20px;

            img {
                margin-bottom: 20px;
            }
        }
    }

}