div {
    &.feature {
        padding: 40px 80px;

        h1 {
            color: #394E6A;
            font-size: 30px;
            letter-spacing: 2px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        div {
            &.items {
                display: flex;
                justify-content: space-between;
                align-items: center;
           

                div {
                   
                    width: 30%;
                    cursor: pointer;
                    padding-top: 15px;
                    height: 400px;
                    text-align: center;
                    background-color: rgb(255, 255, 255);
                    box-shadow: .1px .1px 2px .2px rgb(183, 181, 181);
                    border-radius: 10px;

                    img {
                        width: 90%;
                        cursor: pointer;
                        border-radius: 10px;
                        height: 70%;
                    }

                    h2,
                    p {
                        color: #394E6A;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 22px;
                    }

                    h2 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}
@media(max-width:600px) {
    div {
        &.feature {
            padding-top: 200px;
           
            padding: 30px 40px;
        }
    }

    div.items {
        flex-direction: column;

    }

    div.feature div.items div {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width:602px)and (max-width:900px) {
    div.feature{
   padding: 10px 20px;
    }
    div.partOne div.leftSide{
        margin-top: 10px;
    }
    div.items{
         flex-wrap: wrap;
    }
    div.feature div.items div{
        width: 48%;
         margin-bottom: 20px;
    }

    
}