div {
    margin: auto;

    &.pro {
        background-color: #F0F6FF;
        width: 60%;
        margin: auto;
        padding: 20px;
        margin-top: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        text-align: center;

        form {
            width: 100%;

            input {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                padding: 10px;
                font-size: 20px;
                border: 1px solid rgb(207, 199, 199)
            }
        }

    }

    &.main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        div {
            color: #676767;
            width: 30%;
            padding: 25px;
            text-align: center;
            height: 320px;
            margin-bottom: 30px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 0 20px 25px -5px rgba(44, 44, 44, 0.1), 0 8px 10px -6px rgba(84, 84, 84, 0.1);

            img {
                width: 100%;

                height: 76%;

                border-radius: 10px;
            }

        }

    }

}

@media(max-width:600px) {
    div.main {
        div {
            width: 80%;
            height: 300px;

            img {
                width: 100%;

                height: 66%;

                border-radius: 10px;
            }
        }
    }
}

@media(min-width:605px) and (max-width:900px) {
    div.main {
        div {
            width: 48%;
            height: 330px;

            img {
                width: 80%;

                height: 66%;

                border-radius: 10px;
            }
        }
    }
  
}