div{
    margin: auto;
   &.pro{
    background-color:#F0F6FF;
    width:80%;
    margin: auto;
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    input{
width: 80%;
height: 100%;
border-radius: 10px;
padding: 20px;
font-size: 25px;
border:1px solid gray
    }
   }
&.main{
   
    div{
        color:#676767;
        width:80%;
        display: flex;
      justify-content: space-between;
      align-items: center;
        padding: 20px 50px;
        height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: .1px .1px .1px 1px rgb(218, 216, 216);
        img{
            width:25%;
            border-radius: 10px;
            height: 80%;
        }
       
    }

}

}